@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  font-family: 'Averia Libre', cursive !important;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

:root {
  --background-color: #ADD4D0;
  --header-color: #C1E7E3;
  --primary-font-color: white;
  --input-font-color: #3F92C5;
  --primary-button-color: #419ED7;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.border-red{
  border: 1px solid red !important;
}

.input-error-class{
  display: flex;
  flex-direction: column;
}

.input-error-class::after{
  content: 'Preencha o campo corretamente.';  
  z-index: 99;
  font-size: 14px;
  color: red !important;  
  margin-left: 10px;
}

.input-email-error-class{
  display: flex;
  flex-direction: column;
}

.input-email-error-class::after{
  content: 'E-mail inválido.';  
  z-index: 99;
  font-size: 14px;
  color: red !important;  
  margin-left: 10px;
}

.input-confirm-error-class{
  display: flex;
  flex-direction: column;
}

.input-confirm-error-class::after{
  content: 'As senhas devem ser iguais.';  
  z-index: 99;
  font-size: 14px;
  color: red !important;  
  margin-left: 10px;
}

.input-radio-error-class::after{
  content: 'Selecione uma das opções.';
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 14px;
}