@import url('./shared/styles/global.css');
@import url('../shared/styles/components.css');

header button {
    margin-left: 20px;
}

.search-input {
    width: 100%;
    background-color: var(--background-color);
    padding: 20px 30px;
}

.input-search {
    width: 100%;
    padding-left: 30px;
    border: none;
    outline: none;
    height: 30px;
}

.background-container {
    width: 100%;
    height: calc(100% - 157px - 70px);
    background-color: var(--background-color);
}

.card-body {
    height: fit-content;
    padding: 0;
}

.card-body h1:hover {
    color: #0a58ca;
}

.card-body h1 {
    height: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: var(--input-font-color);
}

.card-body h6 {
    width: fit-content;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    margin: 0 auto;
    color: white;
    background-color: var(--input-font-color);
}

.card-body span {
    color: #8B8B8B !important;
}

.vaccine-title {
    height: fit-content !important;
    padding: 0;
    margin: 0;
}

.vaccine-container {
    width: 100%;
    min-width: 80%;
    max-height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}

.vaccine-box {
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}

.vaccine-box-flex {
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vaccine-box-flex>.card-container {
    margin: 0 30px;
}

.vaccine-box>a {
    text-decoration: none;
}

.card-container {
    width: fit-content;
    margin: 0 auto;
}

.card {
    width: 320px;
    height: 320px;
    text-align: center;
    padding: 15px;
    padding-bottom: 35px;
    position: relative;
    cursor: pointer;
}

.card-img-bottom {
    height: 158px;
}

.card small {
    width: 100%;
    color: #FD7979 !important;
}

.card p {
    width: 100%;
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 15px;
}

.button-container {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.register-button {
    padding: 10px 30px;
}

@media screen and (max-width: 1150px) {
    .vaccine-box {
        width: 100%;
    }
}