@import url('./shared/styles/global.css');

.background-container {
    width: 100%;
    height: calc(100% - 87px);
    background-image: url('./assets/initial_background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.backgorund-blur {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    flex-direction: column;

}

backgorund-blur h1 {
    color: #419ED7;
    margin-bottom: 20px;
}